{% extends 'home/template.html' %}
{% load static %}



{% block content %}

<style>
    .pointer {
        cursor: pointer;
    }
</style>



<div class="col-sm-10  homediv pt-4">
    <!-- center menu -->

    <div class=" pl-5 " style="">

        <div class="col-lg-6  single_feature  d-flex flex-row pb-30 ">

        <a id="linksearch" href=""></a>

            <input onkeyup="var a='/capsule?page=1&#38;search=';$('#linksearch').attr('href',a+$('#search').val());" id="search" type='text' placeholder="Search" class='form-control icon-input'><div onclick=" document.getElementById('linksearch').click();"><i   class='fa times-icon pointer'></i></div></input>

        </div>
    </div>
<br /><br /><br />
    <div class="row ">
        <div class="col-lg-5">
        </div>
            <div class="pagination pl-5 pr-5 pt-2 pb-2" style="background-color:#333333;">

                <span class="step-links">
                    {% if caps.has_previous %}
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page=1&#38;search={{tag}}">&laquo; first</a>
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page={{ caps.previous_page_number }}&#38;search={{tag}}">previous</a>
                    {% endif %}


                    {% if caps.has_next %}
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page={{ caps.next_page_number }}&#38;search={{tag}}">next</a>
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page={{ caps.paginator.num_pages }}&#38;search={{tag}}">last &raquo;</a>
                    {% endif %}
                </span>
            

        </div>

    </div>


    <div class="row " style=" padding-top: 50px; ">



        <br /><br /><br />


        {% for cap in caps %}

        <form id="{{ cap.id }}" action="capsulein" method="get">

            <input type="hidden" id="{{ cap.id }}" name="id" value="{{ cap.articleid.id }}"></input>

        </form>
        <div class="pointer col-sm-3" style="padding-top: 10px; "
            onclick="document.getElementById('{{ cap.id }}').submit();">

            <div class=" glassy zoom">

                <div
                    style="height:30%; BACKGROUND-COLOR:#D8D8D8;position: relative;padding-left: 10px;border-left: 10px solid #9D271E;border-radius:10px">

                    {{ cap.fname }}

                </div>

                <div style="BACKGROUND-COLOR:#F3F8FF;  height:70%;  position: relative;">

                    <p style="padding-left:5px;padding-right:5px;align=" justify";><small>In statistics, linear
                            regression is a linear approach to modelling the relationship between a scalar response
                            and
                            one or more explanatory variables."</small></p>

                    <svg xmlns="http://www.w3.org/2000/svg"
                        style="  position: absolute; bottom: 8px; right: 16px; font-size: 18px; " width="16" height="16"
                        fill="currentColor" class="bi bi-arrow-down-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 3.146a.5.5 0 1 0-.708.708L9.243 9.95H6.475a.5.5 0 1 0 0 1h3.975a.5.5 0 0 0 .5-.5V6.475a.5.5 0 1 0-1 0v2.768L5.854 5.146z" />
                    </svg>
                </div>

                
            </div>

        </div>


        {% endfor %}

    </div>

    <br /><br /><br />

    <div class="row ">
        <div class="col-lg-5">
        </div>
            <div class="pagination pl-5 pr-5 pt-2 pb-2" style="background-color:#333333;">

                <span class="step-links">
                    {% if caps.has_previous %}
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page=1&#38;search={{tag}}">&laquo; first</a>
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page={{ caps.previous_page_number }}&#38;search={{tag}}">previous</a>
                    {% endif %}


                    {% if caps.has_next %}
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page={{ caps.next_page_number }}&#38;search={{tag}}">next</a>
                    <a class="ml-1 mr-1 zoom" style="color:#9CDCFE;" href="?page={{ caps.paginator.num_pages }}&#38;search={{tag}}">last &raquo;</a>
                    {% endif %}
                </span>
            

        </div>

    </div>
    <br /><br /><br />
</div>


    


{% endblock %}