<div class="alert alert-info ml-3 mr-3 " id=""+maindiv >
    <div class='row' style='height: auto;'>
        <div class='col-sm-1 ' style='color:#5D3333; '>
            <div class='col-sm-12 '> <img class='center' src='\static\loggedinimages\up.svg'
                    style='  height:25px; width: auto;'></img></div>
            <div class='col-sm-12 mt-2 '><img class='center' src='\static\loggedinimages\down.svg'
                    style='  height:25px; width: auto;'></img> </div>
        </div>
        <div class='col-sm-1  ' style='color:#5D3333; '>Topic</div>
        <div class='col-sm-10 ' style='color:#5D3333; '><input name='topic'+String(topiccounter)  class=' ' type='text' style=' width:60%;'></input></div>
    </div>
</div>