{% load static%}

<html>

<body>
    <div class="col-sm-10  homediv pt-4">
        <!-- center menu -->


        <div class="row " style=" padding-top: 100px;padding-left: 50px; ">
            <!-- left side nav bar -->

            <div class="col-sm-6">
                <a href="capsule?page=1">
                    <img style="height:200px; width:400px; " src="{% static 'homeimgs/learn.png' %}"> </img>

                </a>
            </div>

            <div class="col-sm-6">
                <img style="height:200px; width:400px;  " src="{% static 'homeimgs/wrenge.png' %}"> </img>
            </div>


        </div>
    </div>






</body>

</html>